/*======= index.html =======*/
#page1 #content .row-1 .col-1 {width:236px; margin-right:63px;}
#page1 #content .row-1 .col-2 {width:216px;}
#page1 #content .row-2 .col-1 {width:236px; margin-right:63px;}
#page1 #content .row-2 .col-2 {width:216px;}

/*======= index-1.html =======*/
#page2 #content .row-1 .col-1 {width:236px; margin-right:63px;}
#page2 #content .row-1 .col-2 {width:216px;}
#page2 #content .row-2 .col-1 {width:236px; margin-right:63px;}
#page2 #content .row-2 .col-2 {width:216px;}

/*======= index-2.html =======*/
#page3 #content .row-1 .col-1 {width:236px; margin-right:63px;}
#page3 #content .row-1 .col-2 {width:216px;}

/*======= index-3.html =======*/
#page4 #content .row-1 .col-1 {width:236px; margin-right:63px;}
#page4 #content .row-1 .col-2 {width:216px;}
#page4 #content .row-2 .col-1 {width:236px; margin-right:63px;}
#page4 #content .row-2 .col-2 {width:216px;}

/*======= index-4.html =======*/
#page5 #content .row-1 .col-1 {width:250px; margin-right:20px;}
#page5 #content .row-1 .col-2 {width:250px;}

/*======= index-5.html =======*/
#page6 #content .row-1 .col-1 {width:236px; margin-right:63px;}
#page6 #content .row-1 .col-2 {width:216px;}


/*=========================*/


